/* Base Styles */
footer {
    background-color: rgba(32, 34, 37, 0.7);
}

footer p {
    text-align: center;
    padding: 2rem;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 0;
}

footer .plus,
footer .reseau {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

footer h3 {
    color: white;
    font-size: 3rem;
    margin: 2rem 0;
}

footer section img {
    margin: 0 1rem;
    transition: 1s;
}

footer img:hover {
    transform: scale(1.2);
    transition: 0.3s all ease-in-out;
}

footer .plus div {
    display: flex;
    align-items: center;
}

footer .plus div.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .plus div.flex div {
    margin-bottom: 0.5rem;
}

footer .plus div img {
    max-width: 3rem;
}

footer .plus div a {
    color: white;
}

footer .curriculum {
    text-decoration: underline;
    text-decoration-color: white;
}

/* Tablet Styles */
@media (max-width: 1220px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    footer h3 {
        font-size: 2.5rem;
    }

    footer .plus div {
        flex-direction: column;
        align-items: center;
    }

    footer .plus div.flex {
        align-items: center;
    }

    footer .plus div img {
        max-width: 2.5rem;
    }
}

/* Mobile Styles */
@media (max-width: 1220px) {
    footer{
        width: 100%;
    }
    footer p {
        padding: 1rem;
    }

    footer h3 {
        font-size: 2rem;
        text-align: center;
    }

    footer .plus div {
        flex-direction: column;
        align-items: center;
    }

    footer .plus div.flex {
        align-items: center;
    }

    footer .plus div img {
        max-width: 2rem;
    }

    footer section img {
        margin: 0.5rem;
    }
}
