
body{
    background-color: rgb(200,200,200,.3);
}
main{
    margin-top: 5rem;
}
main.presta {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    margin: 0 auto;
}
main section.infopresta{
    width: 80rem;
    margin: 0rem auto 2rem auto;
}
main section.infopresta div.infopresta{
    border-radius: .5rem;
    border-style: solid;
    border-width: .1rem;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 30rem;
    height: 23rem;
}
main.condition{
    width: 80rem;
    padding: 4rem;
    background-color: #ffffff;
    border: solid .1rem black;
    margin: 5rem auto;
    border-radius: 4rem;
}
main.condition h1{
    text-align: center;
}
main.condition p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
main section.infopresta ul{
    display: flex;
    justify-content: center;
}
main section.infopresta div.infopresta li{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.infopresta ul li img{
    width: 40rem;
    height: 25rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: .1rem;
}
main section.presta{
    width: 19rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: .1rem;
    cursor: pointer;
    transition: .4s;
    position: relative;
}
main section.presta:hover,main section.presta ul form button:hover{
    transform: scale(1.04);
    transition: .4s;
}
main section.presta ul li img,section.prestavue ul li img{
    width: 100%;
    height: 13rem;
}
main section.presta ul h2, section.prestavue ul h2{
    text-align: center;
    margin-bottom: 1rem;
}
main section.presta ul form button{
    background-color: #ffffff;
    width: 3.3rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 2rem;
    border-radius: 8rem;
    border-style: solid;
    border-width: .1rem;
    transition: .4s;
    margin-right: -.4rem;
    margin-top: -1rem;
}
section.prestavue{
    width: 19rem;
    margin: 0rem 2rem 7rem 10rem;
    padding: 1rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: .1rem;
    height: 100%;
    background-color: #fff;
}
main form{
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
main form.mdp{
    align-items: center;
}
main form.mdp div{
    display: flex;
    flex-direction: column;
}
main div.container{
    width: 50rem;
    margin: 2rem auto;
    padding: 2rem 0rem;
}
main form input,select{
    padding: .2rem;
    border-style: solid;
    border-width: .02rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}
section.achete{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    background-color: #72ee81;
    border-radius: 1rem;
    border: 4px double #1fec6a;
    color: #ffffff;
    text-align: center;
    padding: .6rem;
    cursor: pointer;
}
main form input.ok{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    background-color: #719fee;
    border-radius: 1rem;
    border: 4px double #1f69ec;
    color: #ffffff;
    text-align: center;
    padding: .6rem;
    cursor: pointer;
}
button.achat-butto{
    width: 10rem;
}
main a.insc{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: #1f69ec;
    text-decoration: underline;
}
main p.warning{
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}
main.profil{
    display: flex;
}
main.profil section.alo{
    width: 15rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0rem 2rem 7rem 10rem;
    border-style: solid;
    border-width: .1rem;
    border-radius: .5rem;
    height: 100%;
}
main.profil section.alo a:hover{
    background-color: rgba(31, 31, 31, 0.092);
    transition: .7s;
}
main.profil section.alo a{
    transition: .7s;
}
main.profil section a{
    padding: .7rem;
}
main.profil form,section.right{
    width: 55rem;
    margin: 0 ;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-style: solid;
    border-width: .1rem;
    border-radius: .5rem;
}
section.right{
    display: flex;
    flex-direction: column;
}
section.right section{
    width: 50rem;
}
section.right section ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
section.right section ul div.right {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
section.right section ul li img{
    width: 20rem;
    border-style: solid;
    border-width: .1rem;
    padding: .5rem;
    border-radius: .5rem;
}
main.profil form h2{
    margin: 2rem 0rem;
}
main.profil form input.ok{
    margin:  0 auto;
    margin-top: 3rem;
}
main.profil form div.principal{
    display: flex;
    flex-wrap: wrap; 
    justify-content:space-between;
}
main.profil form div.principal div{
    display: flex;
    flex-direction: column;
}
main.profil form input{
    width: 26rem;
    height: 3rem;
}
.hidden {
    display: none;
}
#btn_supprimer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    background-color: #ff7f7f;
    border: 4px double #ff0000;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    padding: .6rem;
    cursor: pointer;
}
section.polo ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 3rem;
}
main.profil section.utilisateurs section.user{
    width: 16rem;
    border-style: solid;
    border-width: .1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}
main.profil section.utilisateurs section.user ul img{
    width: 5rem;
    height: 5rem;
    border-style: solid;
    border-width: .1rem;
    margin: 0 auto;
    border-radius: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
main.profil section.utilisateurs section.user ul{
    flex-direction: column;
    display: flex;
    margin: 1rem;

}

main.profil section.utilisateurs{
    display: flex;
    border-style: solid;
    border-width: .1rem;
    width: 65rem;
    margin-bottom: 2rem;
    flex-wrap: wrap; 
    padding: 1rem;
    border-radius: 1rem;

}
main.achat section.utilisateurs form.oudini{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

main.achat form.favorite-form{
background-color: #ffffff;
  width: 3.3rem;
  height: 3.3rem;
  padding: 0rem;
  position: absolute;
  font-size: 2rem;
  border-radius: 8rem;
  border-style: solid;
  border-width: .1rem;
  margin-right: -4.4rem;
  margin-top: -1rem;
}
section.achete{
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: solid .1rem black;
}
button.achat-butto{
    width: 20rem;
}
main.profil form.zouzou{
    background-color: aqua;
    width: 20rem;
    margin: 0;
    display: block;
    background-color: #ff7f7f;
    border: 4px double #ff0000;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}
main.profil section.leftinfo{
    width: 20rem;
    margin: 0;
    display: block;
    border-radius: 1rem;
    border: solid .1rem black;
    padding: .5rem;
    margin-left: 4rem;
    height: 100%;
    background-color: #ffffff;
    margin-right: 2rem;
}
main.profil section.leftinfo p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
p.empty{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10rem;
}
p.error{
    margin-bottom: 1rem;
    color: #ff0000;
}
p.empty2{
    text-align: center;
    margin: 10rem auto;
}
@media (max-width: 900px) {
    main{
        width: 100%;
    }
    main form{
        width: 90%;
    }
    main div.container{
        width: 90%;
    }
    main.presta{
        width: 100%;
    }
    main.presta section{
        width: 100%;
    }
    main.profil section.alo{
        display: none !important;
    }
    main.profil form{
        width: 80% !important;
        margin: 0 auto;
    }
    main.profil{
        margin: 1rem 0rem;
    }
    main.profil form input{
        width: 100%;
    }
    main.profil form div.principal div{
        width: 100%;
    }
    main form.mdp div{
        width: 100%;
    }
    main.profil section.leftinfo{
        margin: 2rem auto;
    }
    }
